  
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" 
		rel="stylesheet" 
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" 
		crossorigin="anonymous"
	/>
  </head>
  <body>
  		<!--
		Title: Navigation bar Bootstrap
		Date: 02/18/2021
		Url: https://getbootstrap.com/docs/4.0/components/navbar/
		-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">A-03</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home<span class="sr-only"></span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/logs/">Logs<span class="sr-only"></span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/goals/">Goals</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/music/">Music</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/map/">Map of Gyms</a>
          <li class="nav-item">
            <a class="nav-link" href="/groups/">Groups</a>
          </li>
					<li class="nav-item">
						<a class="nav-link" href="/diet/">Diet Tips</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/exercise_tips/">Exercise Tips</a>
					</li>
				</ul>
			</div>
	</nav>


<h1 style="text-align:center;">Diet Tips - Atkins</h1>
<body style="background-color:azure;">

<style>
div.column1 {
    margin-left: 75px;
}
</style>  
<div class="column1">

<h2><u>
Synopsis
</u></h2>
The atkins diet is one that focuses on cutting carbohydrates rather than other macronutrients like fat. <br>
In fact, by reducing carbohydrates, you must somewhat increase your intake of fats and proteins. <br>
This helps cut out many refined carbohydrates and sugars that can be found in our grain products such as bread or pasta. <br>
While some diets may encourage calorie counting as a means of measuring food intake, this diet focuses on <br>
carbohydrate counting. This diet uniquely has phases that you progress through while you're on it. <br>
Lastly, while it seems familiar to the keto diet, it differs because it doesn't create a limit on protein consumption <br>
and it allows you to eventually introduce carbohydrates back into your diet. <br>


<h2><u>
The Phases of the Diet:
</u></h2>

<ol>
    <li>Induction: The strictest phase of the diet where you should only eat 20 grams of carbohydrates that derive from vegetables. <br>
        You will be eating consuming mostly protein and fat in this phase and cannot have foods that are asscoaited with carbohydrates.
    </li>
    <li>Balancing: In this phase, you should still be consuming the majority of your carbohydrates from vegetables, but you can <br>
        resume eating some carbohydrates found in nutrient-rich foods. This should be until you are 10 pounds above your goal weight.
    </li>
    <li>Pre-maintenance: Here, you are again able to have a wider range of foods including fruits and whole grains, where your <br>
        total intake of carbohydrates increases by about 10 grams a week. This continues until you reach your goal weight.
    </li>
    <li>Lifetime maintenance: In the final phase, you are at your goal weight and can eat the amount of carbohydrates that allows <br>
        you to stay at your goal weight indefinitely.
    </li>
</ol>


<h2><u>
Effects:
</u></h2>

Some may find that the atkins diet works for them because by reducing the amount of carbs they eat, they reduce the amount of calories <br>
they eat overall in a day. Additionally, the increase in protein intake may make your feel fuller throughout the day and less likely to eat. <br>
It's important to note that some of the risks associated with the diet can also be found in the keto diet. Low intake of carbohydrates can lead <br>
to ketosis, which can cause headaches, dizziness, weakness, fatigue, or constipation. <br>

<h2><u>
Further info:
</u></h2>
<a href="https://www.mayoclinic.org/healthy-lifestyle/weight-loss/in-depth/atkins-diet/art-20048485">Mayo Clinic Atkins diet</a>

</div>




