  
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" 
		rel="stylesheet" 
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" 
		crossorigin="anonymous"
	/>
  </head>
  <body>
  		<!--
		Title: Navigation bar Bootstrap
		Date: 02/18/2021
		Url: https://getbootstrap.com/docs/4.0/components/navbar/
		-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">A-03</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home<span class="sr-only"></span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/logs/">Logs<span class="sr-only"></span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/goals/">Goals</a>
					</li>
          <li class="nav-item">
            <a class="nav-link" href="/groups/">Groups</a>
          </li>
					<li class="nav-item">
						<a class="nav-link" href="/music/">Music</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/map/">Map of Gyms</a>
          <li class="nav-item">
            <a class="nav-link" href="/groups/">Groups</a>
          </li>
					<li class="nav-item">
						<a class="nav-link" href="/diet/">Diet Tips</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/exercise_tips/">Exercise Tips</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/logout/">Logout</a>
					</li>
				</ul>
			</div>
	</nav>


<h1 style="text-align:center;">Exercise Tips - Bench Press</h1>
<body style="background-color:azure;">


<style>
div.column1 {
  margin-left: 75px;
}
</style>  

<div class="column1">

<h2><u>
Synopsis
</u></h2>
The bench press is an upper-body weight training exercise in which the trainee presses a weight upwards while lying on a weight training bench. <br>
The exercise uses the pectoralis major, the anterior deltoids, and the triceps, among other stabilizing muscles.<br>
A barbell is generally used to hold the weight, but a pair of dumbbells can also be used.<br>


<h2><u>
The Basics
</u></h2>
The bench press requires a few pieces of equipment. You will need either a barbell or dumbbells and a flat bench. <br>
Form is always important for exercises both to maximize the productivity of the workout and to minimize the risk of injury. <br>

<ol>
	<li>Select a weight that you think would be maintanable for serveral reps</li>
	<li>Lie flat on the bench and find a spot where the bar will be above your pectoral muscles when your arms are straightened</li>
	<li>Grip the bar with a width a fair bit wider than that of your shoulders</li>
	<li>Ensure your feet are flat on the ground and that you will be balanced when lifting</li>
	<li>Gently take the bar off of the weight rack and lower it just above your chest, while allowing your elbows to bend to the sides</li>
	<li>Keep steady as you push the bar back up to the point where your arms are almost straightened (but not fully) </li>
	<li>Repeat this process for around 10 reps and up to 3 sets of 10</li>
</ol>


<h2><u>
Variations
</u></h2>

<ul>
	<li>Narrow grip: Works the inner part of the pecs</li>
	<li>Incline: Works the upper part of the pecs</li>
	<li>Decline: Works the lower part of the pecs</li>
</ul>

<h2><u>
Further info:
</u></h2>
<a href="https://www.healthline.com/health/exercise-fitness/bench-press-muscles-worked#variations">Healthline Bench Press</a>


</div>
</body>
</html>