  
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" 
		rel="stylesheet" 
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" 
		crossorigin="anonymous"
	/>
  </head>
  <body>
  		<!--
		Title: Navigation bar Bootstrap
		Date: 02/18/2021
		Url: https://getbootstrap.com/docs/4.0/components/navbar/
		-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">A-03</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home<span class="sr-only"></span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/logs/">Logs<span class="sr-only"></span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/goals/">Goals</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/music/">Music</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/map/">Map of Gyms</a>
          <li class="nav-item">
            <a class="nav-link" href="/groups/">Groups</a>
          </li>
					<li class="nav-item">
						<a class="nav-link" href="/diet/">Diet Tips</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/exercise_tips/">Exercise Tips</a>
					</li>
				</ul>
			</div>
	</nav>

<h1 style="text-align:center;">Exercise Tips - Bicep Curl</h1>
<body style="background-color:azure;">
    


<style>
div.column1 {
margin-left: 75px;
}
</style>  
    
<div class="column1">

<h2><u>
Synopsis
</u></h2>
The bicep curl is an upper-body weight training exercise meant to strengthen the bicep and other muscles that interact <br>
with the elbow, such as the brachialis and the brachioradialis. It is one of the most common exercises that people do<br>
to build arm strength and definition.<br>

<h2><u>
The Basics
</u></h2>
Bicep curls are relatively simple to do, but it is important to have proper form when you do them. <br>
If you go too fast, or swing the barbells with momentum, you won't be able to receive the benefits as <br>
if you performed the exercise properly. <br>

<ol>
	<li>Select a weight that you think would be maintanable for around 10 reps</li>
	<li>Stand with your feet about shoulder-width apart</li>
	<li>Face your palms outwards with a weight in each hand and ensure your elbows are pressed to your ribs</li>
	<li>While keeping everything else still, curl the weights upwards towards your shoulders</li>
	<li>At the top of the curl, ensure you get good contraction in your biceps</li>
	<li>Slowly lower the weights back to the starting position</li>
	<li>Repeat this lifting for your number of reps to make a total of 3 sets</li>
</ol>


<h2><u>
Variations
</u></h2>
There are many variations on the bicep curl, which are including but not limited to: <br>

<ul>
	<li>Standing curls: Curls done while standing</li>
	<li>Sitting curls: Curls done while sitting on a bench that lets you hang your arms to the side</li>
	<li>Preacher curls: Using a preacher bench to facilitate curls. You rest your arms on the decline and curl</li>
    <li>Reverse curls: Doing bicep curls with your palms facing downwards</li>
    <li>Concentration curls: Doing curls with one at a time to really focus on the muscle</li>
</ul>
    
<h2><u>
Further info:
</u></h2>
<a href="https://www.verywellfit.com/how-to-do-the-biceps-arm-curl-3498604">Verywellfit biceps curl</a>
    
    
</div>