  
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" 
		rel="stylesheet" 
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" 
		crossorigin="anonymous"
	/>
  </head>
  <body>
  		<!--
		Title: Navigation bar Bootstrap
		Date: 02/18/2021
		Url: https://getbootstrap.com/docs/4.0/components/navbar/
		-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">A-03</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home<span class="sr-only"></span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/logs/">Logs<span class="sr-only"></span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/goals/">Goals</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/music/">Music</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/map/">Map of Gyms</a>
          <li class="nav-item">
            <a class="nav-link" href="/groups/">Groups</a>
          </li>
					<li class="nav-item">
						<a class="nav-link" href="/diet/">Diet Tips</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/exercise_tips/">Exercise Tips</a>
					</li>
				</ul>
			</div>
	</nav>

<h1 style="text-align:center;">Exercise Tips - Crunches</h1>
<body style="background-color:azure;">
        
    
<style>
div.column1 {
    margin-left: 75px;
}
</style>  
            
<div class="column1">

<h2><u>
Synopsis
</u></h2>
Crunches are a staple exercise for anyone seeking to improve their core muscles to achieve a six pack, promote<br>
good posture, or reduce back pain. It is important to have good core muscles as they help provide a foundation for <br>
most other exercises. <br>

<h2><u>
The Basics
</u></h2>

Everyone has a slightly different way to do crunches, but there are few consistencies that should be met. As you want <br>
to work out your ab muscles, you should try to avoid straining your neck too much as that detracts from the exercise <br>
itself and can lead to discomfort. Additionally, you should try to maintain tension throughout the whole exercise, where <br>
you sit up to a level where you still feel tension and lay down not completely flat, but just enough to still feel the strain. <br>
        
    
<ol>
    <li>Find a mat to lay down on and bend your knees while your feet are flat on the ground</li>
    <li>Contract your ab muscles so that your back lifts off the ground a couple of inches, while <br>
        keeping your head and neck relatively still.
    </li>
    <li>At the top, make sure to squeeze your abs to really feel the burn when they're activated</li>
    <li>Slowly lower back down to your starting position where you maintain tension</li>
    <li>Repeat this as many times as you can do so while maintaining proper form</li>
</ol>
        
        
<h2><u>
Variations
</u></h2>
There are different types of crunches that work different parts of the ab muscles. A few are listed below:<br>
        
<ul>
    <li>Standard crunch: Outlined above </li>
    <li>Frog crunch: Crunches where your feet are together and at a 45 degree angle to the ground</li>
    <li>Vertical leg crunch: Crunches where your feet are pointed up to the ceiling. These are good <br>
        at engaging your back muscles at the same time. 
    </li>
    <li>Reverse crunch: Instead of lifting your torso up, you keep it still and rather lift your legs up <br>
        to point up to the ceiling. 
    </li>    
</ul>
            
<h2><u>
Further info:
</u></h2>
<a href="https://www.verywellfit.com/how-to-do-a-perfect-abdominal-crunch-1229513">Verywellfit abdominal crunches</a>
            
            
</div>