<!DOCTYPE html>
{% load socialaccount %}
{% load static %}
<html>
  <head>
    <!-- Required meta tags -->
    <title>Google Registration</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'exercising/style.css' %}">
  </head>
  <body>
    <!--
		Title: Navigation bar Bootstrap
		Date: 02/18/2021
		Url: https://getbootstrap.com/docs/4.0/components/navbar/
		-->
    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">A-03</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/logs/">Logs<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/goals/">Goals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/music/">Music</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/map/">Map of Gyms</a>
            <li class="nav-item">
              <a class="nav-link" href="/groups/">Groups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/diet/">Diet Tips</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/exercise_tips/">Exercise Tips</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="logout/">Logout</a>
            </li>
          </ul>
        </div>
    </nav>
    {% endif %}
  

    {% if user.is_authenticated %}
    <h1 class="m-5">Welcome {{ user.username }}!</h1>
    <h1 class = "m-5">Level: {{ user.profile.get_total_level }}</h1>
    <div class="container" id="lvl">
      
        <div id = "graybar"></div>
        <div id="progress">
          {% if user.profile.get_level_progress < 50 %}
          <div style="height: 25px; background-color: red; width: {{ user.profile.get_level_progress }}%" id="goal_bar">
            <span style="color: white; margin-left: 15px;">{{ user.profile.get_points_left }} points until next level</span>
          </div>
          {% endif %}
          {% if user.profile.get_level_progress >= 50 %}
          <div style="height: 25px; background-color: blue; width: {{ user.profile.get_level_progress }}%" id="goal_bar">
            <span style="color: white; margin-left: 15px;">{{ user.profile.get_points_left }} points until next level</span>
          </div>
          {% endif %}
        </div>
    </div>

    

    

    <div class = "container">
      <div class="row">
        <div class = "col">
          <h4>Your Points:</h4>
          <p  style="color: white; font-size: small;">
            These are your points for the three exercise categories. Points for each category are calculated differently. 
            For every minute of cardio, you earn 16 points. For every minute of weight training you will earn 30 points. 
            For every minute doing calisthenics you will earn 8 points.
          </p>
          <ul class = "list-group" style="font-size: small;">
            <li class = "list-group-item">Cardio Points: {{ user.profile.points_cardio }}</li>
            <li class = "list-group-item">Weight Training Points: {{ user.profile.points_weight }}</li>
            <li class = "list-group-item">Calisthenics Points: {{ user.profile.points_calis }}</li>
            <li class = "list-group-item">Total Points: {{ user.profile.points_total }}</li>
          </ul>
          <!-- <h4>Total Points</h4>
          <li class="list-group-item">{{ user.profile.points_total}}</li> -->

          <h4>Your Levels</h4>
            <li class = "list-group-item">Cardio Level: {{ user.profile.get_cardio_level }}
              {% if user.profile.get_cardio_progress < 50 %}
              <div style="height: 20px; background-color: red; width: {{ user.profile.get_cardio_progress }}%" id="goal_bar">
                <span style="color: white; margin-left: 15px;">{{ user.profile.get_cardio_left }} points until next level</span>
              </div>
              {% endif %}
              {% if user.profile.get_cardio_progress >= 50 %}
              <div style="height: 20px; background-color: blue; width: {{ user.profile.get_cardio_progress }}%" id="goal_bar">
                <span style="color: white; margin-left: 15px;">{{ user.profile.get_cardio_left }} points until next level</span>
              </div>
              {% endif %}
            </li>
            <li class = "list-group-item">Weight Training Level: {{ user.profile.get_weight_level }}
              {% if user.profile.get_weight_progress < 50 %}
              <div style="height: 20px; background-color: red; width: {{ user.profile.get_weight_progress }}%" id="goal_bar">
                <span style="color: white; margin-left: 15px;">{{ user.profile.get_weight_left }} points until next level</span>
              </div>
              {% endif %}
              {% if user.profile.get_weight_progress >= 50 %}
              <div style="height: 20px; background-color: blue; width: {{ user.profile.get_weight_progress }}%" id="goal_bar">
                <span style="color: white; margin-left: 15px;">{{ user.profile.get_weight_left }} points until next level</span>
              </div>
              {% endif %}
            </li>
            <li class = "list-group-item">Calisthenics Level: {{ user.profile.get_calis_level }}
              {% if user.profile.get_calis_progress < 50 %}
              <div style="height: 20px; background-color: red; width: {{ user.profile.get_calis_progress }}%" id="goal_bar">
                <span style="color: white; margin-left: 15px;">{{ user.profile.get_calis_left }} points until next level</span>
              </div>
              {% endif %}
              {% if user.profile.get_calis_progress >= 50 %}
              <div style="height: 20px; background-color: blue; width: {{ user.profile.get_calis_progress }}%" id="goal_bar">
                <span style="color: white; margin-left: 15px;">{{ user.profile.get_calis_left }} points until next level</span>
              </div>
              {% endif %}
            </li>
            <li class = "list-group-item">Overall Level: {{ user.profile.get_total_level }}
              {% if user.profile.get_level_progress < 50 %}
              <div style="height: 20px; background-color: red; width: {{ user.profile.get_level_progress }}%" id="goal_bar">
                <span style="color: white; margin-left: 15px;">{{ user.profile.get_points_left }} points until next level</span>
              </div>
              {% endif %}
              {% if user.profile.get_level_progress >= 50 %}
              <div style="height: 20px; background-color: blue; width: {{ user.profile.get_level_progress }}%" id="goal_bar">
                <span style="color: white; margin-left: 15px;">{{ user.profile.get_points_left }} points until next level</span>
              </div>
              {% endif %}
            </li>

          <br>
          <h4>Your goals</h4>
          <!-- <a href="/logs/" style="color: white;">Set another goal to hit</a> -->
          <form action="/goals/">
            <button
              type="submit"
              class="btn btn-primary"
              value="join group"
              style="height: 40px; width: 300px"
            >
            Set another goal to hit
            </button>
          </form>
          <ul class="list-group">
            {% for item in user.profile.goals.all reversed%}
            <li class="list-group-item">
              <div class="container">
                <div class="row">
                  Your progress of {{ item }}: {{ item.get_exercise_amount }}/{{ item.amount }} minutes
                </div>
                <div class="row">
                  Goal set on {{ item.date }}
                </div>
                {% if item.get_progress < 50 %}
                  <div style="height: 20px; background-color: red; width: {{ item.get_progress }}%" id="goal_bar" >
                    <span style="color: white; margin-left: 15px;">{{ item.get_progress }}%</span>
                  </div>
                  {% endif %}
                  {% if item.get_progress >= 50 and item.get_progress != 100%}
                  <div style="height: 20px; background-color: blue; width: {{ item.get_progress }}%" id="goal_bar" >
                    <span style="color: white; margin-left: 15px;">{{ item.get_progress }}%</span>
                  </div>
                  {% endif %}
                  {% if item.get_progress == 100 %}
                  <div style="height: 20px; background-color: green; width: {{ item.get_progress }}%" id="goal_bar" >
                    <span style="color: white; margin-left: 15px;">{{ item.get_progress }}%   COMPLETED</span>
                  </div>
                  {% endif %}
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col">
          <h4>Log of your exercises</h4>
          <!-- <a href="/logs/" style="color: white;">Add an exercise to your log</a> -->
          <form action="/logs/">
            <button
              type="submit"
              class="btn btn-primary"
              value="join group"
              style="height: 40px; width: 300px"
            >
            Add an exercise to your log
            </button>
          <ul class="list-group">
            {% for item in user.profile.logs.all reversed %}
            <li class="list-group-item">
              On {{ item }} you did {{item.exercise_type}} for {{ item.amount }}
              minutes - {{item.get_points}} Points Awarded
            </li>
            {% endfor %}
          </ul>

        </div>
      </div>
    </div>
  

    {% else %}
    <!-- <a href="{% provider_login_url 'google' %}">Login with Google</a> -->
    <div id="google_login"> 
      <h3 classs= "m-5">Please log in</h2>
      <a href="{% provider_login_url 'google' %}"><input type="image" src="{% static 'exercising/google_login.png' %}" id="google_img" /></a>
    </div>
    <!-- <input type="image" src="{% static 'exercising/google_login.png' %}" /> -->
    {% endif %}

    <div class="container" style="height: 200px;">

    </div>


		
    
    

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
      integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
      integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
      crossorigin="anonymous"
    ></script>
  </body>
  <!--FOOTER-->
  <footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      A-03
    </div>
  </footer>

</html>
