<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" 
		rel="stylesheet" 
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" 
		crossorigin="anonymous"
	/>
  </head>
  <body>
  		<!--
		Title: Navigation bar Bootstrap
		Date: 02/18/2021
		Url: https://getbootstrap.com/docs/4.0/components/navbar/
		-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">A-03</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home<span class="sr-only"></span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/logs/">Logs<span class="sr-only"></span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/goals/">Goals</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/music/">Music</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/map/">Map of Gyms</a>
          <li class="nav-item">
            <a class="nav-link" href="/groups/">Groups</a>
          </li>
					<li class="nav-item">
						<a class="nav-link" href="/diet/">Diet Tips</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/exercise_tips/">Exercise Tips</a>
					</li>
          <li class="nav-item">
            <a class="nav-link" href="logout/">Logout</a>
          </li>
				</ul>
			</div>
	</nav>

<h1 style="text-align:center;">Diet Tips - Ketogenic</h1>
<body style="background-color:azure;">

<h1 style="font-size:125%; text-align:center">
The ketogenic diet (or keto diet, for short) is a low carb, high fat diet that offers many health benefits.<br>
In fact, many studies show that this type of diet can help you lose weight and improve your health.<br>
Ketogenic diets may even have benefits against diabetes, cancer, epilepsy, and Alzheimer’s disease.<br>    
Here is a detailed beginner’s guide to the keto diet.<br></h1>


<style>
div.column1 {
  margin-left: 75px;
}
</style>  

<div class="column1">
<h2><u>
The Basics
</u></h2>

The ketogenic diet is a very low carb, high fat diet that shares many similarities with the Atkins and low carb diets.<br>
It involves drastically reducing carbohydrate intake and replacing it with fat. This reduction in carbs puts your body into a metabolic state called ketosis.<br>
When this happens, your body becomes incredibly efficient at burning fat for energy. It also turns fat into ketones in the liver, which can supply energy for the brain.<br>
Ketogenic diets can cause significant reductions in blood sugar and insulin levels. This, along with the increased ketones, has some health benefits<br>

<h2><u>
Types of Keto Diets
</u></h2>

There are several versions of the ketogenic diet, including:<br>
<ul>
    <li> Ketogenic diet (SKD): This is a very low carb, moderate protein and high fat diet. It typically contains 70% fat, 20% protein, and only 10% carbs.</li><br>
    <li> Cyclical ketogenic diet (CKD): This diet involves periods of higher carb refeeds, such as 5 ketogenic days followed by 2 high carb days.</li><br>
    <li> Targeted ketogenic diet (TKD): This diet allows you to add carbs around workouts.</li><br>
    <li> High protein ketogenic diet: This is similar to a standard ketogenic diet, but includes more protein. The ratio is often 60% fat, 35% protein, and 5% carbs.</li><br>
</ul>

<h2><u>
    What is Ketosis?
</u></h2>

Ketosis is a metabolic state in which your body uses fat for fuel instead of carbs.<br><br>
It occurs when you significantly reduce your consumption of carbohydrates, limiting your body’s supply of glucose (sugar), which is the main source of energy for the cells.<br><br>
Following a ketogenic diet is the most effective way to enter ketosis. Generally, this involves limiting carb consumption to around 20 to 50 grams per day and filling up on fats, such as meat, fish, eggs, nuts, and healthy oils.<br><br>
It’s also important to moderate your protein consumption. This is because protein can be converted into glucose if consumed in high amounts, which may slow your transition into ketosis.<br><br>
Practicing intermittent fasting could also help you enter ketosis faster. There are many different forms of intermittent fasting, but the most common method involves limiting food intake to around 8 hours per day and fasting for the remaining 16 hours.<br><br>
Blood, urine, and breath tests are available, which can help determine whether you’ve entered ketosis by measuring the amount of ketones produced by your body.<br><br>
Certain symptoms may also indicate that you’ve entered ketosis, including increased thirst, dry mouth, frequent urination, and decreased hunger or appetite.<br>

<h2><u>
    Foods to Eat
</u></h2>

You should base the majority of your meals around these foods:<br><br>
<ul>
    <li>meat: red meat, steak, ham, sausage, bacon, chicken, and turkey</li><br>
    <li>fatty fish: salmon, trout, tuna, and mackerel</li><br>
    <li>eggs: pastured or omega-3 whole eggs</li><br>
    <li>butter and cream: grass-fed butter and heavy cream</li><br>
    <li>cheese: unprocessed cheeses like cheddar, goat, cream, blue, or mozzarella</li><br>
    <li>nuts and seeds: almonds, walnuts, flaxseeds, pumpkin seeds, chia seeds, etc.</li><br>
    <li>healthy oils: extra virgin olive oil, coconut oil, and avocado oil</li><br>
    <li>avocados: whole avocados or freshly made guacamole</li><br>
    <li>low carb veggies: green veggies, tomatoes, onions, peppers, etc.</li><br>
    <li>condiments: salt, pepper, herbs, and spices</li><br>
</ul>

<h2><u>
    Sample Meal Plan
</u></h2>

<ul>
    <h5>Monday</h5>
    <li>breakfast: veggie and egg muffins with tomatoes<br></li>
    <li>lunch: chicken salad with olive oil, feta cheese, olives, and a side salad<br></li>
    <li>dinner: salmon with asparagus cooked in butter<br><br></li>

    <h5>Tuesday</h5>
    <li>breakfast: egg, tomato, basil, and spinach omelet<br></li>
    <li>lunch: almond milk, peanut butter, spinach, cocoa powder, and stevia milkshake (more keto smoothies here) with a side of sliced strawberries<br></li>
    <li>dinner: cheese-shell tacos with salsa<br><br></li>

    <h5>Wednesday</h5>
    <li>breakfast: nut milk chia pudding topped with coconut and blackberries<br></li>
    <li>lunch: avocado shrimp salad<br></li>
    <li>dinner: pork chops with Parmesan cheese, broccoli, and salad<br><br></li>

    <h5>Thursday</h5>
    <li>breakfast: omelet with avocado, salsa, peppers, onion, and spices<br></li>
    <li>lunch: a handful of nuts and celery sticks with guacamole and salsa<br></li>
    <li>dinner: chicken stuffed with pesto and cream cheese, and a side of grilled zucchini<br><br></li>

    <h5>Friday</h5>
    <li>breakfast: sugar-free Greek, whole milk yogurt with peanut butter, cocoa powder, and berries<br></li>
    <li>lunch: ground beef lettuce wrap tacos with sliced bell peppers<br></li>
    <li>dinner: loaded cauliflower and mixed veggies<br><br></li>

    <h5>Saturday</h5>
    <li>breakfast: cream cheese pancakes with blueberries and a side of grilled mushrooms<br></li>
    <li>lunch: Zucchini and beet “noodle” salad<br></li>
    <li>dinner: white fish cooked in coconut oil with kale and toasted pine nuts<br><br></li>

    <h5>Sunday</h5>
    <li>breakfast: fried eggs with and mushrooms<br></li>
    <li>lunch: low carb sesame chicken and broccoli<br></li>
    <li>dinner: spaghetti squash Bolognese<br><br></li>
</ul>
</div>


Join Our Newsletter!
<form method="get">
<br>Email: <input type="text" name="email" id="email">
<br><input type="submit" value="Enter"> <input type="reset" value="Clear Form">
</select>

</body>
</html>