  
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" 
		rel="stylesheet" 
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" 
		crossorigin="anonymous"
	/>
  </head>
  <body>
  		<!--
		Title: Navigation bar Bootstrap
		Date: 02/18/2021
		Url: https://getbootstrap.com/docs/4.0/components/navbar/
		-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">A-03</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home<span class="sr-only"></span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/logs/">Logs<span class="sr-only"></span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/goals/">Goals</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/music/">Music</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/map/">Map of Gyms</a>
          <li class="nav-item">
            <a class="nav-link" href="/groups/">Groups</a>
          </li>
					<li class="nav-item">
						<a class="nav-link" href="/diet/">Diet Tips</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/exercise_tips/">Exercise Tips</a>
					</li>
				</ul>
			</div>
	</nav>


<h1 style="text-align:center;">Exercise Tips - Leg Press</h1>
<body style="background-color:azure;">
        

<style>
div.column1 {
    margin-left: 75px;
}
</style>  
            
<div class="column1">

<h2><u>
Synopsis
</u></h2>

The leg press exercise is an important exercise when you plan to work out your glutes, hamstrings, and quadriceps.<br>
It is facilitated with a machine that is either horizontal or at a 45 degree angle.

<h2><u>
The Basics
</u></h2>

The leg press machine has a flat plate that you push against with your feet. The weight level is easily <br>
customizable and so too are the specific muscles that you highlight. By moving your feet around the plate <br>
you can focus more on calves or quads for example. <br>
        
    
<ol>
    <li>Determine a weight that you can do comfortably and then lay your back and head flat against the seat </li>
    <li>Place your feet in the middle of the plate and slowly push the plate until your legs are extended but <br>
        your knees are not locked and your feet are flat. It is important to keep tension to maximize your workout
        
    </li>
    <li>Slowly reverse and contract your legs back to the starting position </li>
    <li>Repeat this for about 10 reps and 3 sets of that</li>
</ol>
        
        
<h2><u>
Variations
</u></h2>
There are a couple variations on squats that usually involve adding weights. A few are listed below:<br>
        
<ul>
    <li>Glut/Hamstring focused: If you place your feet higher up on the plate, you work these muscles more </li>
    <li>Quads/Calves focused: If you place your feet lower on the plate, you work these muscles more</li>

    
</ul>
            
<h2><u>
Further info:
</u></h2>
<a href="https://www.verywellfit.com/squats-for-the-buns-hips-and-thighs-1231102">Verywellfit squats</a>
            
            
</div>