  
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" 
		rel="stylesheet" 
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" 
		crossorigin="anonymous"
	/>
  </head>
  <body>
  		<!--
		Title: Navigation bar Bootstrap
		Date: 02/18/2021
		Url: https://getbootstrap.com/docs/4.0/components/navbar/
		-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">A-03</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home<span class="sr-only"></span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/logs/">Logs<span class="sr-only"></span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/goals/">Goals</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/music/">Music</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/map/">Map of Gyms</a>
          <li class="nav-item">
            <a class="nav-link" href="/groups/">Groups</a>
          </li>
					<li class="nav-item">
						<a class="nav-link" href="/diet/">Diet Tips</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/exercise_tips/">Exercise Tips</a>
					</li>
				</ul>
			</div>
	</nav>

<h1 style="text-align:center;">Exercise Tips - Shoulder press</h1>
<body style="background-color:azure;">
    

<style>
div.column1 {
    margin-left: 75px;
}
</style>  
        
<div class="column1">

<h2><u>
Synopsis
</u></h2>
The shoulder press or overhead press, is an exercise that focuses on several muscle groups such as the deltoids (shoulders)<br>
pecs, triceps, and trapezius. As this exercise is usually performed while standing, you will also need to have good balance<br>
and engage your core muscles to ensure you stay upright.

<h2><u>
The Basics
</u></h2>
With this exercise, it is especially important to select a weight that you find comfortable to do<br>
as the weights will be going above your head when you lift. The shoulder press can also be done on <br>
a machine, with a pair of dumbbells, or a barbell.

<ol>
    <li>Select a weight that you think would be maintanable for around 10 reps</li>
    <li>Stand with your feet about shoulder-width apart</li>
    <li>Bring the weights to a level around your collarbone and just in front of your neck</li>
    <li>While ensuring you're steady and standing up straight, push the weight up and move your neck forward a bit</li>
    <li>Slowly lower the weight while simultaneously tiling your head back to make space for the weights</li>
    <li>Repeat this about 10 times for 3 sets</li>
</ol>
    
    
<h2><u>
Variations
</u></h2>
There are a couple types of shoulder press, which are including but not limited to: <br>
    
<ul>
    <li>Dumbbell: Using two dumbbells with one in each hand</li>
    <li>Barbell: Balancing a barball across both hands</li>
    <li>Resistance bands: It is also possible to use resistance bands to perform this exercise <br>
        by standing on the middle of the band and pushing up while the band is taut.
    </li>

</ul>
        
<h2><u>
Further info:
</u></h2>
<a href="https://www.healthline.com/health/overhead-press-muscles#tips-on-how">Healthline overhead press</a>
        
        
</div>
