  
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" 
		rel="stylesheet" 
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" 
		crossorigin="anonymous"
	/>
  </head>
  <body>
  		<!--
		Title: Navigation bar Bootstrap
		Date: 02/18/2021
		Url: https://getbootstrap.com/docs/4.0/components/navbar/
		-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">A-03</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home<span class="sr-only"></span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/logs/">Logs<span class="sr-only"></span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/goals/">Goals</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/music/">Music</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/map/">Map of Gyms</a>
          <li class="nav-item">
            <a class="nav-link" href="/groups/">Groups</a>
          </li>
					<li class="nav-item">
						<a class="nav-link" href="/diet/">Diet Tips</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/exercise_tips/">Exercise Tips</a>
					</li>
				</ul>
			</div>
	</nav>


<h1 style="text-align:center;">Exercise Tips - Squats</h1>
<body style="background-color:azure;">
        
    
<style>
div.column1 {
    margin-left: 75px;
}
</style>  


<div class="column1">

<h2><u>
Synopsis
</u></h2>
Squats are simple and easy exercise to work out various muscles in your legs, such as the hips, glutes and thighs.<br>
<h2><u>
The Basics
</u></h2>

The simple squat can be done without any additional weights or equipment. 
        
    
<ol>
    <li>Place your feet about shoulder width apart with a slight bend in your knees</li>
    <li>Squat down to a level about where you would be sitting in a chair. This is about when <br>
        your thighs are parallel to the ground. Make sure to not let your knees protrude beyond <br>
        your feet or otherwise you'd be using your knees. 
    </li>
    <li>Pause at this "sitting position" for a moment</li>
    <li>Contract your glutes and hamstrings to lift out of this position to return back to the starting position </li>
    <li>Repeat this as many times as you can do so while maintaining proper form</li>
</ol>
        
        
<h2><u>
Variations
</u></h2>
There are a couple variations on squats that usually involve adding weights. A few are listed below:<br>
        
<ul>
    <li>Standard squat: Outlined above </li>
    <li>Dumbbell squat: Similar to above, but you hold a dumbbell at chest level</li>
    <li>Sumo squat: This squat involves having a wider stance with your feet pointing<br>
        outwards, which engages the inner thigh more.      
    </li>
    <li>Barbell squat: The commonly seen form of squats with weights involved where the <br>
        bar rests on the shoulders and behind the neck.
    </li>
    
</ul>
            
<h2><u>
Further info:
</u></h2>
<a href="https://www.verywellfit.com/squats-for-the-buns-hips-and-thighs-1231102">Verywellfit squats</a>
            
            
</div>