  
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" 
		rel="stylesheet" 
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" 
		crossorigin="anonymous"
	/>
  </head>
  <body>
  		<!--
		Title: Navigation bar Bootstrap
		Date: 02/18/2021
		Url: https://getbootstrap.com/docs/4.0/components/navbar/
		-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">A-03</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home<span class="sr-only"></span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/logs/">Logs<span class="sr-only"></span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/goals/">Goals</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/music/">Music</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/map/">Map of Gyms</a>
          <li class="nav-item">
            <a class="nav-link" href="/groups/">Groups</a>
          </li>
					<li class="nav-item">
						<a class="nav-link" href="/diet/">Diet Tips</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/exercise_tips/">Exercise Tips</a>
					</li>
				</ul>
			</div>
	</nav>

<h1 style="text-align:center;">Diet Tips - Vegetarian</h1>
<body style="background-color:azure;">


<style>
div.column1 {
  margin-left: 75px;
}
</style>  

<div class="column1">

<h2><u>
Synopsis
</u></h2>
The vegetarian diet is useful for those who do not want to eat meat for religious or ethical reasons, <br>
but also for various health benefits. As it sounds, the general diet is limited to vegetables and animal products only.<br>
<h2><u>
The Basics
</u></h2>

The vegetarian diet's defining feature is abstination from eating meat, poultry, or fish. However, this does allow for the<br>
inclusion of animal products in the diet, which is veganism. An important detail of the vegetarian diet is the planning of meals. <br>
Certain vitamins and minerals that are common in meats, but less so in vegetarian foods need to be included in your diet to prevent nutrient deficits. <br>
Some of the more likely deficiencies are Vitamin B-12, iron, omega-3 fatty acids, and certain essential amino acids usually found in animal protein. <br>


<h2><u>
Variations
</u></h2>

<ul>
<li>Pescatarian: Excludes meats and poultry, but allows for fish and occasionally eggs/dairy</li>
<li>Ovo-vegetarian: Excludes meat, poultry, fish, and dairy but allows for eggs</li>
<li>Lacto-vegetarian: Excludes meat, poultry, fish, and eggs but allows for dairy</li>
<li>Lacto-ovo-vegetarian: Excludes meat, poultry, fish, but allows for both eggs and dairy</li>
<li>Veganism: Strictly excludes meat, poultry, fish, eggs, and dairy. This is the most restrictive of the diets <br>
	and is centered around consuming no animal products whatsoever </li>
</ul>


<h2><u>
Further info:
</u></h2>

<a href="https://www.mayoclinic.org/healthy-lifestyle/nutrition-and-healthy-eating/in-depth/vegetarian-diet/art-20046446">Mayo Clinic vegetarian diet</a>
</div>


